body {
	font-family: Arial;
	width: 80%;	
	margin: 20px auto; 
}
header{
	padding: 20px;
	background-color: #7093DB;
	color: #fff
	padding: 20px;

}
/*eliminar las villetas del menu*/
header ul{
	list-style: none;
}
/*Eliminar el subrayado de los enlaces*/ 
header ul li a{
	color: #fff;
	text-decoration: none;
		padding: 20PX;
}
header ul li a:hover:{
	background-color: #5C4033;
}
main{
	background-color: #8F8FBD;
	padding: 20px;
}
footer{
	background-color: #303030;
	color: #8C7853 ;
	padding: 10px;
}
